// Default styles
$defaultBlack: #414042;
$defaultBlue: #6580A2;
$defaultOrange: #E87A42;
$defaultGreen: #89AA86;
$defaultBorder: #DDDDDD;
$defaultTxt: #FFFFFF;

//Hover styles
$hoverBlack: #2F2E30;
$hoverBlue: #557092;
$hoverOrange: #DF7139;
$hoverGreen: #799A76;
$hoverBorder: #717171;
$hoverTxt: #FFFFFF;

//Pressed styles
$pressedBlack: #242325;
$pressedBlue: #4E698B;
$pressedOrange: #D1632B;
$pressedBGreen: #6F906C;
$pressedBorder: #414042;
$PressedTxt: #FFFFFF;

//Focused styles
$focusedBlack:  #414042;
$focusedBlue: #6580A2;
$focusedOrange: #E87A42;
$focusedBGreen: #89AA86;
$focusedBorderColorBlack: #B1B1B1;
$focusedBorderColorBlue: #D6E2F2;
$focusedBorderColorOrange: #F0BD98;
$focusedBorderColorGreen: #C6E0C3;
$pressedBorder: #414042;
$focusedTxt: #FFFFFF;

//Loading styles
$loadingBlack:  #414042;
$loadingBlue: #6580A2;
$loadingOrange: #E87A42;
$loadingBGreen: #89AA86;
$loadingBorder: #DDDDDD;
$LoadingTxt: #FFFFFF;

//Disabled styles
$disabledBlack: #B1B1B1;
$disabledBlue: #D6E2F2;
$disabledOrange: #F0BD98;
$disabledBGreen: #C6E0C3;
$disabledBorder: #DDDDDD;
$disabledTxt: #B1B1B1;

//All styles
$allBlack: #ffffff;
$allBlue: #ffffff;
$allOrange: #ffffff;
$allBGreen: #ffffff;
$allTxtColor: #000000;

//Font-size styles
$small: 32px;
$medium: 48px;
$large: 48px;